* {
    margin: 0;
    padding: 0;
    font-family: "PingFangSC-Light","Dengxian",'Open Sans', arial, sans-serif;
}
ul {
	list-style: none;
}
p {
	color: #5a5a5a;
	font-size: 13px;
	letter-spacing: 0.25px;
	line-height: 24px;
}
.primary-button a {
	display: inline-block;
	background-color: #a2cf8d;
	padding: 12px 18px;
	color: #fff;
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	transition: all 0.5s;
}
.primary-button a:hover {
	background-color: #5c9d7d;
}
.martin-button a {
	display: inline-block;
	background-color: #ffcd18;
	padding: 12px 18px;
	color: #fff;
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	transition: all 0.5s;
}
.martin-button a:hover {
	background-color: #ffb829;
}
.white-button a {
	display: inline-block;
	background-color: #fff;
	padding: 12px 18px;
	color: #121212;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	transition: all 0.5s;
}
.white-button a:hover {
	background-color: #121212;
	color: #fff;
}
.section-heading h4 {
	text-align: center;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 700;
	color: #121212;
}
.section-heading .line-dec {
	width: 60px;
	height: 3px;
	background-color: #121212;
	margin: 0 auto;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 75px;
    background-color:transparent;  
    
    text-align: center;
    line-height: 40px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

.navbar-brand {
	line-height: 80px;
	padding: 0px;
}

.navbar-nav>li>a {
	color: #fff!important;
	font-size: 18px;
	font-weight: 300;
/*	text-transform: uppercase;*/
	text-shadow: none;
	line-height: 80px;
	padding: 0px;
	letter-spacing: 0.5px;
}

.navbar-nav>li { float:left; width:175px;
}

.header.active .navbar-nav>li>a {
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	text-shadow: none;
	color: #121212!important;
}
.navbar-nav>li>a span{ display:block;    font-weight: bold;}
.navbar-nav>li>a:hover span{ display:none;}
.navbar-nav>li>a:hover font{ display:block;    font-weight: bold;}
.navbar-nav>li>a font{ display:none;}
.header.active {
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    height:66px;
}
.navbar-brand .logo{
	margin-top: 0px;
	background: url(../images/white_logo.png);
	background-size: 100% 90%;
	display: inline-block;
	width: 240px;
	height: 75px;
	background-repeat: no-repeat;
}
.header.active .navbar-brand .logo{
	margin-top: 0px;
	background: url(../images/black_logo.png);
	background-size: 100% 90%;
	display: inline-block;
	width: 240px;
	height: 66px;
	background-repeat: no-repeat;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
#main-nav {
	background-color: transparent;
}
.header .navbar-brand {
    font-weight: 900;
}
.navbar-inverse {
	background: none;
	background-color: transparent;
}
.header .navbar {
    margin: 0;
    border: none;
}
.page-section {
    padding: 80px 0;
}
.navbar-inverse .navbar-toggle {
	margin-top: 22px;
    border-color: #666;
    background-color: #666;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #666;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px!important;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 20px;
    }
    .navbar-nav {
        float: right;
    }
}
@media (max-width: 480px) {
    .page-section h1 {
        font-size: 3em;
    }
    .page-section h2 {
        font-size: 2em;
    }
    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;
    }
}
/* FOOTER */

footer {
	background-color: #f1f1f1;
	padding: 20px;
}

footer p {
	font-size: 12px;
	color: #555;
	margin-bottom: 0px;
	margin-top: 20px;
}

footer em {
	font-style: normal;
	font-weight: 700;
	color: #a2cf8d;
}

/* RESPONSIVE */

@media (max-width: 767px){
	#main-nav {
		margin-top: 3px;
		background: #fff;
		box-shadow: 0px 5px 10px #cdcdcd;
	}
	.navbar-nav {
		padding: 0px;
		margin-top: 0px;
		margin-top: 0px;
	}
	.navbar-nav>li {
		margin-left: 0px;
		border-bottom: 1px solid #eee;
	}
	.navbar-nav>li:last-child {
		border-bottom: none;
	}
	.navbar-nav>li>a {
		line-height: 50px;
		color: #121212!important;
	}
}

@media (max-width: 768px){
	.cd-hero .slide-caption span {
		font-size: 13px;
	}

	.cd-hero .slide-caption h2 {
		font-size: 28px;
	}
	.navbar-nav>li{ float:none; width:100%;}
}


@media (max-width: 1015px){
	.slide-caption .content-caption p {
		padding: 0 10%;
	}
	.service-item {
		margin-bottom: 30px;
	}
	#what-we-do .right-image {
		margin-top: 60px;
	}
	#blog .pop {
		top: 15%;
		height: 80%;
		overflow-y: scroll;
	}
	.fact-item {
		margin-bottom: 15px;
	}
	.map {
		margin-bottom: 45px;
	}
	footer {
		text-align: center;
	}
	footer ul {
		float: none;
	}
}